/* ===== ESTILOS GENERALES ===== */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #a8dadc, #264d64);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); 
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  width: 90%;
  max-width: 400px;
}

/* ===== TEXTOS ===== */
h1, h2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.note {
  font-size: 0.9rem;
  margin-top: 15px;
  color: #e0e0e0;
}

/* ===== BOTONES PRINCIPALES (Index / Login) ===== */
button {
  background-color: #1d3557;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #2a9d8f;
}

.generoBtn {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s;
}

#btnNino {
  background-color: #93c0d1; /* azul claro */
}

#btnNina {
  background-color: rosybrown; /* rosa */
}

.generoBtn:hover {
  transform: scale(1.1);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 500px) {
  .container {
    padding: 30px 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  input[type="text"], button {
    font-size: 0.95rem;
  }
}
