/* menú principal */
.menu-container {
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  margin: 20px auto;
}

.menu-btn {
  display: block;
  margin: 10px auto;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #1d3557;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: #2a9d8f;
}
